## 전체데이터 병합, 콜금리 병합

In [1]:
import pandas as pd
import numpy as np
from datetime import datetime

In [13]:
df_1 = pd.read_csv('../data/infomax_data.csv')
df_2 = pd.read_csv('../data/thebell_data.csv')
df_3 = pd.read_csv('../data/call_rate_bok_label.csv')
df_4 = pd.read_csv('../data/bond_data.csv')

In [14]:
df_1

               date                                            article
0        2022.11.18  \r\n\t\r\n\t\t\r\n\t\t\r\n\t(서울=연합인포맥스) 황남경 기자...
1        2022.11.18  \r\n\t\r\n\t\t\r\n\t\t\r\n\t(서울=연합인포맥스) 18일 서울...
2        2022.11.18  \r\n\t\r\n\t\t\r\n\t\t\r\n\t,▲불러드 "금리 충분히 제약적이...
3        2022.11.18  \r\n\t\r\n\t\t\r\n\t\t\r\n\t(서울=연합인포맥스) 송하린 기자...
4        2022.11.18  \r\n\t\r\n\t\t\r\n\t\t\r\n\t(서울=연합인포맥스) 김용갑 기자...
...             ...                                                ...
151329   2012.12.03  \r\n\t\r\n\t\t\r\n\t\t\r\n\t(서울=연합인포맥스) 남승표 기자...
151330   2012.12.03  \r\n\t\r\n\t\t\r\n\t\t\r\n\t(서울=연합인포맥스) 황병극 기자...
151331   2012.12.03  \r\n\t\r\n\t\t\r\n\t\t\r\n\t※다음은 연합인포맥스가 3일 오전...
151332   2012.12.03  \r\n\t\r\n\t\t\r\n\t\t\r\n\t(서울=연합인포맥스) 남승표 기자...
151333   2012.12.03  \r\n\t\r\n\t\t\r\n\t\t\r\n\t□ 응찰금액 (응찰률) : 81,...

[151334 rows x 2 columns]

In [15]:
df_1.rename(columns={'article':'content'}, inplace= True)

In [16]:
df_1

               date                                            content
0        2022.11.18  \r\n\t\r\n\t\t\r\n\t\t\r\n\t(서울=연합인포맥스) 황남경 기자...
1        2022.11.18  \r\n\t\r\n\t\t\r\n\t\t\r\n\t(서울=연합인포맥스) 18일 서울...
2        2022.11.18  \r\n\t\r\n\t\t\r\n\t\t\r\n\t,▲불러드 "금리 충분히 제약적이...
3        2022.11.18  \r\n\t\r\n\t\t\r\n\t\t\r\n\t(서울=연합인포맥스) 송하린 기자...
4        2022.11.18  \r\n\t\r\n\t\t\r\n\t\t\r\n\t(서울=연합인포맥스) 김용갑 기자...
...             ...                                                ...
151329   2012.12.03  \r\n\t\r\n\t\t\r\n\t\t\r\n\t(서울=연합인포맥스) 남승표 기자...
151330   2012.12.03  \r\n\t\r\n\t\t\r\n\t\t\r\n\t(서울=연합인포맥스) 황병극 기자...
151331   2012.12.03  \r\n\t\r\n\t\t\r\n\t\t\r\n\t※다음은 연합인포맥스가 3일 오전...
151332   2012.12.03  \r\n\t\r\n\t\t\r\n\t\t\r\n\t(서울=연합인포맥스) 남승표 기자...
151333   2012.12.03  \r\n\t\r\n\t\t\r\n\t\t\r\n\t□ 응찰금액 (응찰률) : 81,...

[151334 rows x 2 columns]

In [17]:
df_2

              date                                            article
0      2022-11-21   \r\n\r\n\t\t\t\t\t\t\t,\r\n\r\n\t\t\t\t\t\t\t\...
1      2022-11-21   \r\n\r\n\t\t\t\t\t\t\t,\r\n\r\n\t\t\t\t\t\t\t\...
2      2022-11-21   \r\n\r\n\t\t\t\t\t\t\t\t\t,\r\n,교직원공제회가 공제회 차원...
3      2022-11-18   \r\n\r\n\t\t\t\t\t\t\t\t,\r\n,전세계적인 금리 인상과 불확실...
4      2022-11-18   \r\n\r\n\t\t\t\t\t\t\t\t,\r\n,한동안 부진을 겪었던 현대캐피...
...            ...                                                ...
20101  2012-01-11   \r\n\r\n\t\t\t\t\t\t\t\t,\r\n,동국제강(A+, 안정적)의 차...
20102  2012-01-11   \r\n\r\n\t\t\t\t\t\t\t\t,\r\n,대우인터내셔널의 운전자본(매출...
20103  2012-01-12   \r\n\r\n\t\t\t\t\t\t\t,\r\n\r\n\t\t\t\t\t\t\t\...
20104  2012-01-12   \r\n\r\n\t\t\t\t\t\t\t\t,\r\n,JR자산관리의 기업구조조정 리...
20105  2012-01-12   \r\n\r\n\t\t\t\t\t\t\t\t,\r\n,KB금융지주와 하나금융지주가 ...

[20106 rows x 2 columns]

In [18]:
df_2.rename(columns={'article':'content'}, inplace= True)

In [19]:
df_2

              date                                            content
0      2022-11-21   \r\n\r\n\t\t\t\t\t\t\t,\r\n\r\n\t\t\t\t\t\t\t\...
1      2022-11-21   \r\n\r\n\t\t\t\t\t\t\t,\r\n\r\n\t\t\t\t\t\t\t\...
2      2022-11-21   \r\n\r\n\t\t\t\t\t\t\t\t\t,\r\n,교직원공제회가 공제회 차원...
3      2022-11-18   \r\n\r\n\t\t\t\t\t\t\t\t,\r\n,전세계적인 금리 인상과 불확실...
4      2022-11-18   \r\n\r\n\t\t\t\t\t\t\t\t,\r\n,한동안 부진을 겪었던 현대캐피...
...            ...                                                ...
20101  2012-01-11   \r\n\r\n\t\t\t\t\t\t\t\t,\r\n,동국제강(A+, 안정적)의 차...
20102  2012-01-11   \r\n\r\n\t\t\t\t\t\t\t\t,\r\n,대우인터내셔널의 운전자본(매출...
20103  2012-01-12   \r\n\r\n\t\t\t\t\t\t\t,\r\n\r\n\t\t\t\t\t\t\t\...
20104  2012-01-12   \r\n\r\n\t\t\t\t\t\t\t\t,\r\n,JR자산관리의 기업구조조정 리...
20105  2012-01-12   \r\n\r\n\t\t\t\t\t\t\t\t,\r\n,KB금융지주와 하나금융지주가 ...

[20106 rows x 2 columns]

In [20]:
df_3

,Unnamed: 0,date,title,content,ngram,label
0,0,2012-01-13,제1차 금통위 의사록 (6),['일부 위원은 최근 건설투자 등 일부 경제지표 가 지난해 12월 예상했던 것보다...,"['채권시장/NNG;의구심/NNG', '지준/NNG;플러스/NNG', '지표/NNG...",up
1,1,2012-01-26,제2차 금통위 의사록 (3),[],[],up
2,2,2012-02-09,제3차 금통위 의사록 (5),"['일부 위원은 최근 국내경제의 성장 모멘 텀이 다소 약화되고 있으며, 특히 소비...","['통화정책/NNG;제한적/VAX', '지표/NNG;침체/NNG', '안정/NNG;...",same
3,3,2012-03-08,제5차 금통위 의사록 (4),['일부 위원은 최근의 선진국 및 개도국 경제상황 변화와 관련하여 우리나라의 1/...,"['하락/NNG;악영향/NNG', '판매가격/NNG;늘/VV', '적자/NNG;추세...",down
4,4,2012-03-22,제6차 금통위 의사록 (5),[],[],same
...,...,...,...,...,...,...
207,207,2022-08-25,금융통화위원회 의사록(2022년도 제16차),['일부 위원은 우리나라와 미국에서 주거비 변동이 물가에 어떠한 영향을 미치 고 ...,"['채권투자/NNG;긍정적/VAX', '정책/NNG;부정적/VAX', '하회/NNG...",up
208,208,2022-09-08,금융통화위원회 의사록(2022년도 제17차),[],[],up
209,209,2022-09-22,금융통화위원회 의사록(2022년도 제18차),[],[],up
210,210,2022-10-12,금융통화위원회 의사록(2022년도 제19차),"['일부 위원은 경제전망 시 금리지표로 어떠한 시장금리를 사용하는지, 그리고 금번...","['재투자/NNG;불확실성/NNG', '채권투자/NNG;긍정적/VAX', '국채선물...",up
211,211,2022-10-27,금융통화위원회 의사록(2022년도 제20차),[],[],up

In [21]:
del df_3['Unnamed: 0']
del df_3['title']
del df_3['ngram']
del df_3['label']

In [22]:
df_3

           date                                            content
0    2012-01-13  ['일부 위원은 최근 건설투자 등 일부 경제지표  가 지난해 12월 예상했던 것보다...
1    2012-01-26                                                 []
2    2012-02-09  ['일부 위원은 최근 국내경제의 성장 모멘  텀이 다소 약화되고 있으며, 특히 소비...
3    2012-03-08  ['일부 위원은 최근의 선진국 및 개도국  경제상황 변화와 관련하여 우리나라의 1/...
4    2012-03-22                                                 []
..          ...                                                ...
207  2022-08-25  ['일부 위원은 우리나라와 미국에서 주거비 변동이 물가에 어떠한 영향을 미치  고 ...
208  2022-09-08                                                 []
209  2022-09-22                                                 []
210  2022-10-12  ['일부 위원은 경제전망 시 금리지표로 어떠한 시장금리를 사용하는지, 그리고  금번...
211  2022-10-27                                                 []

[212 rows x 2 columns]

In [23]:
df_4

,Unnamed: 0,날짜,내용
0,0,2012.01.02,Fixed Income Report2012.01.02유럽위기와 인플레 우려에 따른 ...
1,1,2012.01.03,Economic Comment2012. 1. 3Macro Comment: 유로화 저...
2,2,2012.01.03,2012년 1월 3일 (화)▶ 양호한 미국 지표 흐름 속에 점증하는 우려감잠시 소강...
3,3,2012.01.03,"2012.01.03Macro VisionWeekly Focus국제유가, 추가 상승 ..."
4,4,2012.01.04,Strategy Comment바닥을 통과하는 상품시장?2012. 01. 04− 상품...
...,...,...,...
5568,5568,2022.11.16,2022년 11월 16일 I Global Asset ResearchGlobal Ma...
5569,5569,2022.11.16,글로벌 경제 전망체크메이트(Checkmate) Summary각자 품은 문제가 달라진...
5570,5570,2022.11.16,2022년 11월 16일매크로분석Macro Review10월 중국 실물지표: 경기 ...
5571,5571,2022.11.16,2022/11/16[Economist] 박상현 2122-9196 shpark@hi-...
5572,5572,2022.11.17,ᆋ㦃⭠ KRMXQJNLP#\XDQWDNRUHDFRP⅗ᬸ...

In [24]:
df_4.rename(columns={'날짜':'date', '내용':'content'}, inplace= True)

In [25]:
del df_4['Unnamed: 0']

In [26]:
df_4

            date                                            content
0     2012.01.02  Fixed Income Report2012.01.02유럽위기와 인플레 우려에 따른 ...
1     2012.01.03  Economic Comment2012. 1. 3Macro Comment: 유로화 저...
2     2012.01.03  2012년 1월 3일 (화)▶ 양호한 미국 지표 흐름 속에 점증하는 우려감잠시 소강...
3     2012.01.03  2012.01.03Macro VisionWeekly Focus국제유가, 추가 상승 ...
4     2012.01.04  Strategy Comment바닥을 통과하는 상품시장?2012. 01. 04− 상품...
...          ...                                                ...
5568  2022.11.16  2022년 11월 16일 I Global Asset ResearchGlobal Ma...
5569  2022.11.16  글로벌 경제 전망체크메이트(Checkmate)
Summary각자 품은 문제가 달라진...
5570  2022.11.16  2022년 11월 16일매크로분석Macro Review10월 중국 실물지표: 경기 ...
5571  2022.11.16  2022/11/16[Economist] 박상현 2122-9196 shpark@hi-...
5572  2022.11.17  ᆋ㦃⭠ KRMXQJNLP#\XDQWDNRUHDFRP⅗ᬸ...

[5573 rows x 2 columns]

In [27]:
## 인포맥스뉴스 날짜 형변환
df_1['date'] = pd.to_datetime(df_1['date'])

In [28]:
type(df_1)

pandas.core.frame.DataFrame

In [29]:
df_1 = df_1.astype({'date' : 'str'})

In [30]:
df_1.dtypes

date       object
content    object
dtype: object

In [31]:
df_1

              date                                            content
0       2022-11-18  \r\n\t\r\n\t\t\r\n\t\t\r\n\t(서울=연합인포맥스) 황남경 기자...
1       2022-11-18  \r\n\t\r\n\t\t\r\n\t\t\r\n\t(서울=연합인포맥스) 18일 서울...
2       2022-11-18  \r\n\t\r\n\t\t\r\n\t\t\r\n\t,▲불러드 "금리 충분히 제약적이...
3       2022-11-18  \r\n\t\r\n\t\t\r\n\t\t\r\n\t(서울=연합인포맥스) 송하린 기자...
4       2022-11-18  \r\n\t\r\n\t\t\r\n\t\t\r\n\t(서울=연합인포맥스) 김용갑 기자...
...            ...                                                ...
151329  2012-12-03  \r\n\t\r\n\t\t\r\n\t\t\r\n\t(서울=연합인포맥스) 남승표 기자...
151330  2012-12-03  \r\n\t\r\n\t\t\r\n\t\t\r\n\t(서울=연합인포맥스) 황병극 기자...
151331  2012-12-03  \r\n\t\r\n\t\t\r\n\t\t\r\n\t※다음은 연합인포맥스가 3일 오전...
151332  2012-12-03  \r\n\t\r\n\t\t\r\n\t\t\r\n\t(서울=연합인포맥스) 남승표 기자...
151333  2012-12-03  \r\n\t\r\n\t\t\r\n\t\t\r\n\t□ 응찰금액 (응찰률) : 81,...

[151334 rows x 2 columns]

In [52]:
# # 뉴스 & 채권분석리포트 & 금통위 의사록 합치기
news_report_mpb = pd.concat([df_1, df_2, df_3, df_4])

# # 결측값있는 행 제거
news_report_mpb = news_report_mpb.dropna(axis=0)
news_report_mpb.to_csv('../datasets/2_news_report_mpb.csv', index=False)

In [32]:
# # 뉴스 & 채권분석리포트 & 금통위 의사록 합치기
news_report_mpb = pd.concat([df_1, df_2, df_3, df_4])

In [33]:
news_report_mpb

            date                                            content
0     2022-11-18  \r\n\t\r\n\t\t\r\n\t\t\r\n\t(서울=연합인포맥스) 황남경 기자...
1     2022-11-18  \r\n\t\r\n\t\t\r\n\t\t\r\n\t(서울=연합인포맥스) 18일 서울...
2     2022-11-18  \r\n\t\r\n\t\t\r\n\t\t\r\n\t,▲불러드 "금리 충분히 제약적이...
3     2022-11-18  \r\n\t\r\n\t\t\r\n\t\t\r\n\t(서울=연합인포맥스) 송하린 기자...
4     2022-11-18  \r\n\t\r\n\t\t\r\n\t\t\r\n\t(서울=연합인포맥스) 김용갑 기자...
...          ...                                                ...
5568  2022.11.16  2022년 11월 16일 I Global Asset ResearchGlobal Ma...
5569  2022.11.16  글로벌 경제 전망체크메이트(Checkmate)
Summary각자 품은 문제가 달라진...
5570  2022.11.16  2022년 11월 16일매크로분석Macro Review10월 중국 실물지표: 경기 ...
5571  2022.11.16  2022/11/16[Economist] 박상현 2122-9196 shpark@hi-...
5572  2022.11.17  ᆋ㦃⭠ KRMXQJNLP#\XDQWDNRUHDFRP⅗ᬸ...

[177225 rows x 2 columns]

In [34]:
# # 결측값있는 행 제거
news_report_mpb = news_report_mpb.dropna(axis=0)

In [35]:
news_report_mpb

            date                                            content
0     2022-11-18  \r\n\t\r\n\t\t\r\n\t\t\r\n\t(서울=연합인포맥스) 황남경 기자...
1     2022-11-18  \r\n\t\r\n\t\t\r\n\t\t\r\n\t(서울=연합인포맥스) 18일 서울...
2     2022-11-18  \r\n\t\r\n\t\t\r\n\t\t\r\n\t,▲불러드 "금리 충분히 제약적이...
3     2022-11-18  \r\n\t\r\n\t\t\r\n\t\t\r\n\t(서울=연합인포맥스) 송하린 기자...
4     2022-11-18  \r\n\t\r\n\t\t\r\n\t\t\r\n\t(서울=연합인포맥스) 김용갑 기자...
...          ...                                                ...
5568  2022.11.16  2022년 11월 16일 I Global Asset ResearchGlobal Ma...
5569  2022.11.16  글로벌 경제 전망체크메이트(Checkmate)
Summary각자 품은 문제가 달라진...
5570  2022.11.16  2022년 11월 16일매크로분석Macro Review10월 중국 실물지표: 경기 ...
5571  2022.11.16  2022/11/16[Economist] 박상현 2122-9196 shpark@hi-...
5572  2022.11.17  ᆋ㦃⭠ KRMXQJNLP#\XDQWDNRUHDFRP⅗ᬸ...

[177206 rows x 2 columns]

In [ ]:
news_report_mpb.to_csv('../data/all_data.csv', index=False)